@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  /* font-family: 'Nunito Sans', Arial, Helvetica, sans-serif; */
  user-select: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;

  background-color: rgba(0, 0, 0, 0.05);
  /* = @apply bg-black/5 */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.10);
  /* = @apply bg-black/10 */
}

button {
  cursor: pointer;
}

.inherit {
  display: inherit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.roboto {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


@media screen and (min-width: 1024px) {
  .watch-layout {
    display: grid;
    grid-template-areas: 
      'videoframe playlist'
      'comments playlist';
    grid-template-columns: 1fr minmax(320px, 420px);  
    gap: 16px;  
  }

  .videoFrame {
    grid-area: videoframe;
  }

  .playlist {
    grid-area: playlist;
    overflow-y: auto;
    max-height: 100vh; 
  }

  .comments {
    grid-area: comments;
  }
}

@media screen and (min-width: 1440px) {
  .watch-layout {
    grid-template-columns: 1fr minmax(360px, 500px);  
  }
}
